header {
    background-color: $color-primary;
    // border-bottom: 1px solid $color-on-surface;
    box-shadow: $shadow-2;
    color: $color-on-primary;
    height: $header-height;
    left: 0;
    padding: 0 1.6rem;
    right: 0;
}